* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --escuro: #0a0a0a;
    --maisescuro: #050505;
    --primaria: rgba(46, 204, 113, 0.4);
    --secundaria: #2ecc71;
    --claro: #ffffff;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background: var(--maisescuro);
    color: var(--claro);
    overflow-x: hidden;
}

.navegacao {
    position: fixed;
    background: rgba(10, 10, 10, 0.2);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;

}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.perfil {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 12% 5%;
    background: radial-gradient(circle at 75% 30%, var(--maisescuro) 0%, transparent 30%);
}

.conteudo-perfil {
    flex: 1;
    padding-right: 5rem;
}

.foto-perfil {
    flex: 1;
    text-align: center;
    position: relative;
}

.perfil-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--secundaria);
    box-shadow: 0 0 50px var(--primaria);
    animation: flutuar 5s ease-in-out infinite;
    filter: grayscale(0.2) contrast(1.1);
}

.perfil h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, var(--secundaria) 30%, #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.perfil p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
    max-width: 600px;
}

.botoes-perfil {
    display: flex;
    align-items: center;
}

.social-links {
    margin-left: 20px;
}

.social-links a {
    font-size: 50px;
    color: var(--claro);
    margin: 0 8px;
    transition: all 0.3s ease;
}

.social-links a:hover {
    color: var(--secundaria);
    transform: translateY(-3px);
}

.botao-curriculo {
    display: inline-block;
    padding: 1rem 2rem;
    background:#27ae60;
    color: black;
    border-radius: 8px;
    border: 2px solid #27ae60;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.botao-curriculo:hover {
    background: transparent;
    color: white
}

.h1 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
    background: linear-gradient(45deg, var(--secundaria) 30%, #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--claro);
    font-weight: bold;
    margin: 20px;
}

.tecnologias {
    padding: 5rem 5%;
}

.tecnologias-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.tecnologias-card {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    flex-direction: column;  /* mantém o ícone em cima e texto embaixo */
    padding: 2rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.tecnologias-card:hover {
    transform: translateY(-10px);
    border-color: var(--secundaria);
    box-shadow: 0 10px 30px var(--primaria);
    cursor: pointer;
}

.tecnologias-card i {
    font-size: 2.5rem;
    color: var(--secundaria);
    margin-bottom: 1rem;
}

.tecnologias-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover {
    box-shadow: 0 1px 20px var(--primaria);
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projeto {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px var(--primaria);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

footer {
    padding: 3rem 5%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .perfil {
        flex-direction: column;
        text-align: center;
        padding-top: 8rem;
    }

    .conteudo-perfil {
        padding-right: 0;
        margin-bottom: 3rem;
    }

    .perfil-img {
        width: 280px;
        height: 280px;
    }
}